<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col col-lg-6">
            <div class="text-center">
                <div *ngIf="isDraw">
                    <h1 class="uppercase text-danger" [hidden]="isCross">Player One Turn</h1>
                    <h1 class="uppercase text-danger" [hidden]="!isCross">Player Two Turn</h1>
                </div>
            </div>

            <div class="grid">
                <div *ngFor="let icName of itemArray; let i=index" (click)="handleClick(i)">
                    <div class="card">
                        <div class="card-box box">
                            <app-icon [iconName]="icName"></app-icon>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col col-lg-6 text-center" *ngIf="winMessage || !isDraw">

            <h1 class="uppercase text-danger" *ngIf="!isDraw">Draw</h1>
            <h1 class="text-uppercase" *ngIf="isDraw">Game Over <span
                    class="text-uppercase text-success">{{winMessage}}</span> </h1>
            <button (click)="reloadGame()" class="btn btn-danger text-uppercase pl-5 pr-5">
                Reload Game
            </button>

        </div>
    </div>
</div>